* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body {
  background: url(../images/book-shelf.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
} */

.p-2 img {
  max-width: 12rem;
}

.add-padding {
  padding: 2rem;
}

.invisible {
  display: none;
}
