* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body {
  background: url(../images/book-shelf.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
} */

.p-2 img {
  max-width: 12rem;
}

.add-padding {
<<<<<<< HEAD
  margin-top: 4rem;
=======
>>>>>>> 6b3702a84164116b68340dcab69352694b6f02b4
  padding: 2rem;
}

.invisible {
  display: none;
}

#flex_container {
  margin-top: 2rem;
}
